.cache
.config/Code/*
.config/discord/*

.config/autostart/arcolinux-welcome-app.desktop
.config/arcolinux-welcome-app/*
.config/bpytop/*
.config/GitHub Desktop/*
.config/google-chrome/*
.config/neofetch/*
.config/pulse/*
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/*
.fehbg
.gnupg/*
.local/*
.mozilla
.npm/*
.gtkrc-2.0
.config/gtk-3.0/settings.ini
.config/font-manager/Collections.json
.config/dconf/user
.bash_history
.bash_logout
.node_repl_history
.nvidia-settings-rc
.nvm/*
.screenrc
go
.vscode
.vim
.viminfo
.yarnrc
.zcompdump
Downloads
.pki
